img.contacto-img{
    border-radius: 100%;
    width: 150px;
}

.validation{
    font-size: 10px !important;
}

.pointer {
    cursor: pointer;
}

.rounded-circle{
    border-radius: 100%;
    margin-right: 25px;
}