html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
#reg_btn{
    width: 300px;

}
.form-cont .label-cont{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-cont{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-cont .label-cont{
    z-index: 2;
  }
  .main-cont input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main-cont input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .main-cont input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }